# Backup files left behind by the Emacs editor.
*~

# Byte-compiled python files
*.pyc

# Build and dist files
build/*
dist/*

# NetCDF files
*.nc

# Ignore image files from matplotlib
*png
*jpg
*pdf
*gif

# Latex stuff
*.aux
*.log
